* {
  box-sizing: border-box;
}

@media (max-width: 1000px) {
  .colom {
    display: block;
  }

  .profil-icon {
    width: 50%;
  }
  .artikel {
    padding: 0;
  }
  .kolom2 {
    text-align:justify;
  }

}

@media (max-width: 670px) {
  .colom {
    display: block;
  }
  .kolom-profil {
    display: block;
  }
  .profil-icon {
    width: 100%;
  }
  
  .header-right a {
    display:none;
  }

  .dua {
    display: block;
    transition: all 0.5s;
  }

  .dua:hover {
    background-color: rgba(255, 255, 255, 0.3);
  }

}
